.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #F1F1F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paragraph1 {
  display:"flex";
  text-align: center;
  font-family: 'Nunito';
  font-size: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000;
}